.itemNav {
    cursor: pointer;
}

.itemNav:hover {
    color: #16697A;
    font-size: 1.75rem;
}

.headerStyle {
    color: #F8F1F1;
    background: #DB6400;
    margin-top: 20px;
}

.position {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    pointer-events: none;
}

.positionShopping{
    z-index: 1;
    top: 40px;
    right: 47px;
}