.itemNav {
    cursor: pointer;
}

.itemNav:hover {
    color: #F05454;
    font-size: 1.65rem;
}

.headerStyle {
    color: #DDDDDD;
    background: #1A132F;
    margin-top: 20px;
}

.position {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    pointer-events: none;
}

.positionShopping{
    z-index: 1;
    top: 40px;
    right: 47px;
}