.zoom {
    transition: transform .2s;
    cursor: -webkit-zoom-in;
}

.zoom:hover {
    transform: scale(1.5);
}

.heightStyle {
    height: 55%;
}

.containerImagen {
    border: #f054540f 1px solid;
}

.containerPaymentMen {
    background: aliceblue;
    color: #1A132F;
}

.containerPaymentWomen {
    background: #f054540f;
    color: #1A132F;
}

.containerPaymentOthers {
    background: #dddddd29;
    color: #1A132F;
}