.itemNav:hover {
    color: #F05454;
}

.headerStyle {
    color: #DDDDDD;
    background: #1A132F;
    margin-top: 20px;
    width: 100%;
}

.position {
    top: 13px;
    left: 0;
    right: 0;
    margin: auto;
    pointer-events: none;
}

.positionShopping {
    z-index: 1;
    top: 50px;
    right: 47px;
}

.positionShoppingResponsive {
    z-index: 1;
    right: 47px;
}

.hideMenuNav {
    display: none;
}

.showMenuNav {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.959);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}